/*- Typograpy and resets -*/
html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  background-color: #fff;
}

h1,
h2 {
  margin-top: 0;
}

h1 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
}

h2 {
  padding: 0 10px;
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 50;
  font-family: 'Poiret One', cursive;
}

/*- Card container -*/
.card-container {
  position: relative;
  z-index: 1;
  margin: 32px 12px 28px 12px;
  max-width: 520px;
  height: 340px;
  perspective: 1000px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  max-height: 300px;
}

/*- Card body -*/
.card-body {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.7s linear;
}
.row {
  display: block;
  float: none;
  margin-top: 32px;
}

/*- Flipping the card -*/
.card-container:hover .card-body {
  transform: rotateY(180deg);
}

.card-container:hover > .card-body > .side-front {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in, visibility 0.75s linear;
}

/*- Card sides -*/
.card-side {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #212121;
  background-color: #fff;
  backface-visibility: hidden;
  box-shadow: 0 10px 35px rgba(50, 50, 93, 0.1), 0 2px 15px rgba(0, 0, 0, 0.07);
}

/*- Frontside -*/
.side-front [class^='col-xs']:first-of-type {
  padding-left: 0;
}

.side-front-content {
  justify-content: center;
  background: linear-gradient(to top right, #ffffff 0%, #e098b7 150%);
}
.front-title,
.back-title {
  font-family: 'Sofia', cursive;
  color: rgb(82, 80, 80);
  text-shadow: 1px 1px lightgrey;
}

/*- Backside -*/

.side-back {
  z-index: 2;
  padding: 10px 20px;
  text-align: center;
  transform: rotateY(180deg);
  background: linear-gradient(to bottom left, #ffffff 0%, #e098b7 150%);
}
.description {
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: center;
  font-family: 'Poiret One', cursive;
  padding: 2px 10px 0px 10px;
  font-size: 18px;
}

.project-link {
  /* display: inline-block; */
  position: absolute;
  bottom: 13px;
  margin-top: 8px;
  margin-left: 143px;
  /* margin-right: auto; */
  height: 50px;
  width: 50px;
}
