.title {
  font-family: 'Poiret One', cursive;
  font-size: 52px;
  padding-top: 50px;
}

.branding-container {
  height: 250px;
  margin-top: 0px;
  margin-bottom: 20;
  display: inline-block;
  width: -webkit-fill-available;
  box-shadow: 2px 3px 2px #dcdcdc;
}
.catch-phrase {
  font-size: 28px;
}
