.title {
  font-family: 'Poiret One', cursive;
  font-size: 52px;
  padding-top: 50px;
}

.branding-container {
  height: 250px;
  margin-top: 0px;
  margin-bottom: 20;
  display: inline-block;
  width: -webkit-fill-available;
  box-shadow: 2px 3px 2px #dcdcdc;
}
.catch-phrase {
  font-size: 20px;
  color: #000000;
  font-weight: lighter;
}

/* MEDIA  QUERY  CSS */
/* ----------------- */
@media only screen and (max-width: 980px) {
  .title {
    font-size: 48px;
  }
}
@media only screen and (max-width: 480px) {
  .branding-container {
    height: 195px;
  }
  .title {
    padding-top: 33px;
  }
}
