.technologies-container {
  height: 615px;
}
.tech-image {
  height: 140px;
  width: auto;
  padding: 15px;
  padding-top: 20px;
}

/* MEDIA  QUERY  CSS */
/* ----------------- */
@media only screen and (max-width: 980px) {
  .technologies-container {
    height: 515px;
  }
  .tech-image {
    padding-top: 20px;
    height: 112px;
    width: auto;
  }
}
@media only screen and (max-width: 980px) {
  .technologies-container {
    height: 352px;
  }
  .tech-image {
    height: 75px;
    width: auto;
    padding: 15px;
    padding-top: 15px;
  }
}
