.about-container {
  height: 600px;
  padding-top: 87px;
  margin-bottom: 80px;
  background-image: url('../../assets/blossom-bouquet.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* box-shadow: 2px 3px 2px #dcdcdc; */
  box-shadow: inset 0px -11px 8px -10px;
}
.text-cushion {
  padding-bottom: 15px;
  background-color: white;
  display: inline-block;
  align-content: center;
  /* opacity: 0.6; */
  /* filter: alpha(opacity=60); */
  background: rgba(255, 255, 255, 0.5);
  height: 400px;
  width: 70%;
}

.text {
  padding: 20px 15px 17px 15px;
  display: inline-block;
  align-content: center;
  background-color: white;
  background: transparent;
  border: 3px solid #efe3e7;
  height: 350px;
  width: 95%;

  margin-top: 25px;
}
p {
  padding: 3px;
  margin-bottom: 1px;
  font-size: 16px;
  font-weight: bolder;
  color: grey;
}
