.about-container {
  height: 600px;
  /* height: 100%; */
  padding-top: 87px;
  margin-bottom: 80px;
  /* background-image: url('../../assets/blossom-bouquet.jpg'); */
  background-image: url('https://lh3.googleusercontent.com/CTHPhWsfmqp80oRt8WpKFwQGn7g0mNEVTn3lJr0_Flejslz_aYMdjABBRbzqxyZNodvDs7V-UWk46lYu787aOnOPqyxHnz6vbIy3gqNOUkIii_FlozCNIlSQ3ss7kNCQ9grqv-DiZXMUIpMeKA-Cx2o5fIvOnTccwGiFvns3mmAar4cWJlFZ19kXjOut2jBTjr5bIO-zfc5KTs5E3d_CXKenx_T_oLW0ZcOoxHxXfTtWTXR_CKIoASJlhym04L-8Uyru4qzQyiAR0n8yIGPeGcr-kYdlcbyIQC7zM3jmsmvkyfMlppPSJk6-RwgGg2X2bHM4ZXS3eu-ytI31xnQwwJpxe3VMExaF4m5-LYiRNQ8S3aS5FO8oMn8yBk4aUxUoAbRbFsAeyGdk9U42UCsTyWViDT3wUhp20T83-2TmE3t0Ub9cLjRv54jfaki6ssM628J4hJ8iA58GMKhGkpbS44wupVXFta45sikb9SAjKaU6Hi6729X_WBNTzonEOXSUG7VU2Q_GxsocTJHRqG_KXZRH4mVFFQG5dI1l3LizGNDqkR8ygQ7hnhqN3fe2TPMAvDEZ_8y1IE42pnesTxL-knN1iFrrSy_68O5Sbts=w1182-h758-no');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;

  /* background-repeat: no-repeat; */
  /* background-position: center center; */
  /* background-size: cover; */
  /* box-shadow: 2px 3px 2px #dcdcdc; */
  box-shadow: inset 0px -11px 8px -10px;
}
.text-cushion {
  padding-bottom: 15px;
  background-color: white;
  display: inline-block;
  align-content: center;
  margin-bottom: 120px;
  /* opacity: 0.6; */
  /* filter: alpha(opacity=60); */
  background: rgba(255, 255, 255, 0.6);
  height: 540px;
  width: 70%;
}

.text {
  padding: 13px 15px 27px 15px;
  display: inline-block;
  align-content: center;
  background-color: white;
  background: transparent;
  border: 3px solid #efe3e7;
  height: 490px;
  width: 95%;
  margin-top: 25px;
}
p {
  padding: 3px;
  margin-bottom: 1px;
  font-size: 21px;
  color: #000000;
}
