.contact-content {
  height: 442px;
  margin-top: 100px;
}

.contact-container {
  background-image: url('/assets/glitter-stars.jpg');
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact-row {
  margin-top: 5px;
}
.contact-row-2 {
  margin-top: 50px;
}
.contact-icon {
  width: 175px;
  height: 175px;
}
.contact-title {
  font-family: 'Poiret One', cursive;
  font-size: 42px;
}

.me-pic {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 4px 8px 0 #000000, 2px 6px 20px 0 #000000;
}
.profile {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
.hovering-div {
  background-color: #fff0f2;
  height: 111px;
  width: 325px;
}
.location {
  color: #000000;
  font-size: 22px;
  padding-top: 12px;
  margin-bottom: 0;
}
.location-2 {
  /* color: #f1ede2; */
  font-family: 'Poiret One', cursive;
  font-size: 20px;
}

/* MEDIA  QUERY  CSS */
/* ----------------- */
@media only screen and (max-width: 980px) {
  .me-pic {
    width: 245px;
    height: 245px;
    margin-left: 0;
  }

  .contact-icon {
    width: 120px;
    height: 120px;
    padding: 25px;
  }
  .contact-content {
    height: 400px;
  }
  .hovering-div {
    width: 225px;
    height: 100px;
  }
  .location {
    font-size: 19px;
  }
  .location-2 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .contact-content {
    height: 420px;
    margin-top: 53px;
  }
  .me-pic {
    width: 165px;
    height: 165px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }
  .col-sm-3 {
    display: inline-block;
  }
  .contact-icon {
    width: 85px;
    height: 85px;
    padding: 0;
  }
  .contact-row-2 {
    margin-top: 20px;
  }
  .hovering-div {
    width: 100px;
    height: 64px;
  }
  .location {
    font-size: 10px;
    padding-top: 3px;
  }
  .location-2 {
    font-size: 10px;
  }
}
