.navbar {
  height: 25px;
  padding: 0;
  font-size: 12px;
  font-weight: 300;
  background-color: #fae8f3;
  opacity: 0.8;
  /* eccdde */
  box-shadow: 2px 3px 2px #dcdcdc;
  /* box-shadow: inset 0px -11px 8px -10 lightgrey; */
}

.nav {
  float: none;
  display: inline-block;
  align-content: center;
}

.navbar-item {
  align-content: center;
  display: block;
  margin: 0 auto;
}
