.experience-container {
  padding: 0;
  margin: 0;
  width: 90%;
  height: 820px;
  display: inline-block;
  align-content: center;
}
.experience {
  font-family: 'Poiret One', cursive;
  font-size: 42px;
}

/* MEDIA  QUERY  CSS */
/* ----------------- */
@media only screen and (max-width: 980px) {
  .experience-container {
    height: 732px;
  }
}
@media only screen and (max-width: 480px) {
}
